::placeholder {
    opacity: 1;
}
:-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
    color: var(--text-03);
}

:root {
  /* colors */
  --color-brand: theme('colors.blue.500');
  --color-brand-hover: theme('colors.blue.600');
  --color-success: theme('colors.green.600');
  --color-success-hover: theme('colors.green.700');
  --color-warning: theme('colors.yellow.600');
  --color-warning-hover: theme('colors.yellow.700');
  --color-danger: theme('colors.red.600');
  --color-danger-hover: theme('colors.red.700');

  /* backgrounds */
  --color-bg-body: theme('colors.gray.100');
  --color-bg-brand: var(--color-brand);
  --color-bg-success: var(--color-success);
  --color-bg-warning: var(--color-warning);
  --color-bg-danger: var(--color-danger);
  --color-bg-base: theme('colors.white');
  --color-bg-secondary: theme('colors.gray.100');
  --color-bg-tertiary: theme('colors.gray.200');

  /* typo */
  --color-typo-brand: var(--color-brand);
  --color-typo-success: var(--color-success);
  --color-typo-danger: var(--color-danger);
  --color-typo-primary: theme('colors.gray.900');
  --color-typo-secondary: theme('colors.gray.500');
  --color-typo-placeholder: theme('colors.gray.400');

  /* borders */
  --color-border-default: theme('colors.gray.300');
  --color-border-brand: var(--color-brand);
  --color-border-success: var(--color-success);
  --color-border-danger: var(--color-danger);
  
  /* controls */
  --color-control-bg-default: theme('colors.white');

  --color-control-bg-primary: var(--color-brand);
  --color-control-bg-primary-hover: var(--color-brand-hover);
  --color-control-bg-secondary: theme('colors.gray.200');
  --color-control-bg-secondary-hover: theme('colors.gray.300');
  --color-control-bg-subtle: theme('colors.gray.200');
  --color-control-bg-danger: var(--color-danger);
  --color-control-bg-danger-hover: var(--color-danger-hover);
  --color-control-bg-disabled: var(--color-bg-secondary);

  --color-control-typo-disabled: var(--color-typo-secondary);

  --color-control-border-default: var(--color-border-default);
  --color-control-border-active:var(--color-brand);
  --color-control-border-focus: var(--color-brand);
  --color-control-border-hover: theme('colors.gray.400');
  --color-control-border-danger: var(--color-border-danger);
  --color-control-border-disabled: theme('colors.gray.200');
}

[data-mode="dark"] {
  /* colors */
  --color-brand: theme('colors.blue.400');
  --color-brand-hover: theme('colors.blue.500');

  /* backgrounds */
  --color-bg-body: theme('colors.gray.900');
  --color-bg-base: theme('colors.gray.800');
}
