::placeholder {
    opacity: 1;
}
:-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
    color: var(--text-03);
}

:root {
    --ui-background: #F7F7F8;
    --ui-01: #FFFFFF;
    --ui-02: #F4F4F4;

    --border-01: #E0E0E0;

    --text-01: #161616;
    --text-02: #657286;
    --text-03: #909DB0;

    --field-01: #FFFFFF;
}

[data-mode="dark"] {
    --ui-background: #161616;
    --ui-01: #262626;
    --ui-02: #393939;

    --border-01: #161616;

    --text-01: #F4F4F4;
    --text-02: #C6C6C6;
    --text-03: #D0D0D0;

    --field-01: #393939;
}

[data-mode="sepia"] {
    --ui-background: #EAE0C9;
    --ui-01: #F1E7D0;
    --ui-02: #EADEC2;

    --border-01: #BFAA78;

    --text-01: #433422;
    --text-02: #695844;
    --text-03: #A79074;

    --field-01: #EADEC2;
}